# Backend API (Render.com deploy sonrası URL)
NEXT_PUBLIC_API_URL=https://nihai-muhtar-api.onrender.com/api/v1

# Mapbox (harita görünümü)
NEXT_PUBLIC_MAPBOX_TOKEN=

# Google Maps / Places API
NEXT_PUBLIC_GOOGLE_API_KEY=
